:root {
  --primary: #000000;
  --primary-dark: #333333;

  --success: #000000;
  --warning: #000000;
  --danger: #000000;

  --text: #111111;
  --text-light: #666666;

  --background: #ffffff;
  --white: #ffffff;

  --border: #dddddd;

  --radius: 8px;

  --shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
}